.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Shared styles */
.text{
    font-weight: bolder;
    color: #0D1321;
}
.description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70px;
}

/* Banner styles */
.banner{
    background-image: url(/assets/Hero-bg.png);
    text-align: center;
    margin-bottom: 74px;
}
.banner-photo{
    width: 173px;
    margin-top: 26px;
}
.banner-heading{
    margin: 0px 221px 45px;
}
.banner-title{
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 48px;
}
.btn-1{
    background-color: #0D1321;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 45px;
    padding: 21px 24px;
    border-radius: 8px;
}
.btn-1 a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Why development important styles */
.card-container{
    margin: auto;
    padding: 80 px 97px;
    width: 1140px;
    border-radius: 16px;
    margin-bottom: 90px;
}
.card-container .card-header{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    font-weight: bolder;
    font-size: 32px;
    margin-top: 154px;
}
.card-container .card-header-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70px;
    font-weight: 500;
    font-size: 16px;
    opacity: 70px;
}
.card-1{
    margin-bottom: 32px;
    display: flex;
}
.card-1 .card-1-imp{
    padding: 48px;
    flex-direction: column;
    margin: auto;
}
.card-1 .card-subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin-bottom: 16px;
}
.card-1 .card-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70px;
    margin-bottom: 32px;
}
.card-1 .btn-2{
    color: #0D1321;
    padding: 12px 20px;
    opacity: 70px;
    font-weight: 600px;
    font-size: 20px;
}
.card-1-pic{
    justify-content: center;
    padding: 48px;
    margin-left: 98px;
}
.card-2{
    margin-bottom: 32px;
    display: flex;
}
.card-2 .card-2-imp{
    padding: 48px;
    margin: auto;
    justify-content: center;
}
.card-2 .card-subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin-bottom: 16px;
}
.card-2 .card-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70px;
    margin-bottom: 32px;
}
.card-2 .btn-2{
    color: #0D1321;
    padding: 12px 20px;
    opacity: 70px;
    font-weight: 600px;
    font-size: 20px;
}
.card-2 .card-2-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}
.card-3{
    margin-bottom: 80px;
    display: flex;
}
.card-3 .card-3-imp{
    padding: 48px;
    flex-direction: column;
    margin: auto;
}
.card-3 .card-subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin-bottom: 16px;
}
.card-3 .card-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70px;
    margin-bottom: 32px;
}
.card-3 .btn-2{
    color: #0D1321;
    padding: 12px 20px;
    opacity: 70px;
    font-weight: 600px;
    font-size: 20px;
}
.card-3-pic{
    justify-content: center;
    padding: 48px;
    margin-left: 98px;
}

/* Inspiration style */
.inspiration{
    text-align: center;
    margin-bottom: 150px;
}
.inspiration .inspiration-title{
    color: #0D1321;
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 24px;
}
.inspiration .inspiration-description{
    margin-bottom: 48px;
    font-size: 16px;
    color: #0D1321;
}
.video{
    padding: 32px;
    border-radius: 16px;
}

/* Target style */
.target{
    text-align: center;
    gap: 24px;
}
.target-title{
    font-size: 32px;
}
.target-description{
    margin-bottom: 48px;
    font-size: 16px;
    color: #0D1321;
}
.target-card{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 111px;
}
.target-section1{
    padding: 30px;
}
.sec1-pic{
    margin-bottom: 24px;
    display: flex;
    text-align: left;
}
.sec1-title{
    font-size: 24px;
    margin-bottom: 8px;
    text-align: left;
}
.sec1-description{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 24px;
    text-align: left;
}
.sec1-link{
    display: flex;
    text-align: left;
}
.target-section2{
    padding: 30px;
}
.sec2-pic{
    margin-bottom: 24px;
    display: flex;
    text-align: left;
}
.sec2-title{
    font-size: 24px;
    margin-bottom: 8px;
    text-align: left;
}
.sec2-description{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 24px;
    text-align: left;
}
.sec2-link{
    display: flex;
    text-align: left;
}
.target-section3{
    padding: 30px;
}
.sec3-pic{
    margin-bottom: 24px;
    display: flex;
    text-align: left;
}
.sec3-title{
    font-size: 24px;
    margin-bottom: 8px;
    text-align: left;
}
.sec3-description{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 24px;
    text-align: left;
}
.sec3-link{
    display: flex;
    text-align: left;
}

/* Conclusion style */
.conclusion-container{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ,url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 150px 80px 150px;
    gap: 16px;
    height: 500%;
}
.conclusion-head{
    padding: 64px 205px 24px;
}
.conclusion-title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.conclusion-description{
    font-size: 16px;
    color: #FFFFFF;
}
.form{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 64px;
}
.form input{
    padding: 19px 20px;
    width: 548px;
    border: none;
    border-radius: 8px;
    color: #0D1321;
    font-size: 16px;
}
.form-btn{
    font-weight: 600px;
    font-size: 20px;
    padding: 17px 20px;
    color: #0D1321;
    width: 120px;
    border: none;
    border-radius: 8px;
}

/* Footer style */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: rgba(13, 19, 33, 0.20);
}
.footer-title{
    font-weight: 600px;
    font-size: 20px;
    color: #0D1321;
    padding: 32px 150px;
}
.footer-img{
    padding: 60px 150px;
}
.fb{
    margin-right: 24px;
}
.git{
    margin-right: 24px;
}